@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Clear
 */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend,table, caption, tbody, tfoot, thead, tr, th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

/*** Style **/

h2{
  font-size: 2em;
  line-height: 2em;
}

h3{
  font-size: 1.5em;
}

.cards {
  padding: 2em;
  background-color: #026773;
  text-align: center;
}

.cardStyle{

  padding: 1em 1em;
  background-color: #A3BFBF;
  margin: 1em 1em;
  display: inline-block;
  width: 11em;
}

.cardStyle img{
  width: 11em;
  height: auto;
}

.yourCard{
  background-color: #242424;
  text-align: center;
}

.myCard{
  padding: 8em 5em;
  background-color: #A3BFBF;
  margin: 1em 2em;
  display: inline-block;
}

.fluid-img{
  width: 100%;
  max-width: 200px;
}

.h2-center{
  text-align: center;
}

/** Pop up box settings **/
  #box1{
    position: fixed;
    /* top: 6em; */
    /* left: 10em; */
    /* width: 300px; */
    background: gray;
    padding: 40px;
    float: left;
    display: none;
    height: auto;
    margin: 2em 18em;
    max-width: 380px;    
    display: none;
  }

  #box span{
    display: none;
    text-align: center;
  }

 


.modal {
    visibility: hidden;
    position: fixed;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    height: auto;
    
    display: block;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
    padding: 12px 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #999 #888;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 3px 14px -4px #000;
    -ms-box-shadow: 0 3px 14px -4px #000;
    -moz-box-shadow: 0 3px 14px -4px #000;
    -webkit-box-shadow: 0 3px 14px -4px #000;    
}